@using BlazorApp.Services
@using HttpClients.ClientInterfaces
@inject NavigationManager navMgr
@inject IAuthService authService
@inject IUserService userService
@namespace Buttons

<AuthorizeView>
    <Authorized>
        <button class="btn btn-outline-light mx-2" @onclick="Message"> Message </button>
        <img class="image mx-2 my-2" src="icons/user.png" alt="image" style="width: 30px; height: 30px;" @onclick="Account">
    </Authorized>
</AuthorizeView>

@code {

    private void Message()
    {
        navMgr.NavigateTo("/MessagePlatform");
    }

    private void Account()
    {
        navMgr.NavigateTo($"/Account");
    }
}