@page "/ViewUsers"
@attribute [Authorize]
@using HttpClients.ClientInterfaces
@using Domain.Model
@using Microsoft.AspNetCore.Authorization
@inject IUserService userService


<h1> <span class="badge bg-secondary align-content-center">Tutor Dashboard</span></h1>

@if (!string.IsNullOrEmpty(msg))
{
    <div>
        <span>@msg</span>
    </div>
}

@if (users == null)
{
    <span>Loading..</span>
}
else if (!users.Any())
{
    <span>No users to be found</span>
}
else
{
    <div class="users-container">
        @foreach (User user in users)
        {
            <div class="user-card" style="width:200px">
              <img class="card-img-top" src="icons/user.png" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">@user.UserName</h4>
                <p class="card-text">My personal Desription.</p>
                <a href="#" class="btn btn-primary">See Profile</a>
              </div>
            </div>
        }
    </div>
}

@code {
    private IEnumerable<User>? users;
    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            users = await userService.GetUsers();
            users = users.Where(u => u.UserType.Equals("Tutor"));
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
}