@page "/ViewUsers"
@using HttpClients.ClientInterfaces
@using Domain
@inject IUserService userService

@if (!string.IsNullOrEmpty(msg))
{
    <div>
        <span>@msg</span>
    </div>
}

@if (users == null)
{
    <span>Loading..</span>
}
else if (!users.Any())
{
    <span>No users to be found</span>
}
else
{
    <div class="users-container">
        @foreach (User user in users)
        {
            <div class="card" style="width:50px">
                <img class="card-img-top" src="icons/user.png" alt="Card image">
                <div class="card-img-overlay">
                    <h4 class="card-title">@user.UserName</h4>
                    <p class="card-text">This is my personel description</p>
                    <a href="#" class="btn btn-primary">See Profile</a>
                </div>
            </div>
        }
    </div>
}

@code {
    
/*   private string username = "";
    private string firstname = "";
    private string lastname = "";
    private string emailaddress = "";
    private string resultMsg = "";
    private string color = "";
*/    
    private IEnumerable<User>? users;
    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            users = await userService.GetUsers();
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
  /*  private async Task ViewProfile()
    {
        resultMsg = "";

        try
        {
            Console.WriteLine("here");
            await userService.Create(new UserCreationDto(username));await userService.Create(new UserCreationDto(firstname));
            await userService.Create(new UserCreationDto(lastname));
            await userService.Create(new UserCreationDto(emailaddress));
            username = "";
            firstname = "";
            lastname = "";
            emailaddress = "";
            resultMsg = "User successfully created";
            color = "green";
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            resultMsg = e.Message;
            color = "red";
        }
    }
    */
}